@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(to top left, #753682 0%, #20901a 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 70%;
  height: 85%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}

.player {
  display: flex;
  flex: 50%;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.5);
}

.name {
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
}


.score {
  font-size: 4rem;
  color: #c7365f;
  margin-bottom: auto;
}


.current {
  background-color: #c7365f;
  border-radius: 10px;
  color: white;
  width: 70%;
  padding: 2rem;
  text-align: center;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.current-score {
  font-size: 2rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;

  background-color: white;
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
}

.btn--new {
  top: 2rem;
}
.btn--roll {
  top: 24rem;
}
.btn--hold {
  top: 28rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.hidden{
display: none;
}